Repository TeamPOME/POME-iOS, pull requests merged in 2022-07, with the labels that each got.

#5 ✨ [FEAT] 포미 Style UIButton Custom Class 생성
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Global/UIComponent/Class/PomeBtn.swift
  POME-iOS/POME-iOS/Global/UIComponent/Xib/xib.swift
Labels: 📱View, ✨ Feature, 💜 은주 💜, 🌏 Global

#9 ✨ [FEAT] 포미 Style UINavigationBar Custom Class 생성
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Global/UIComponent/Class/PomeNaviBar.swift
  POME-iOS/POME-iOS/Support/Assets.xcassets/NaviBar/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/NaviBar/icAlarmAll.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/NaviBar/icAlarmAll.imageset/icAlarmAll.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/NaviBar/icAlarmAll.imageset/icAlarmAll@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/NaviBar/icAlarmAll.imageset/icAlarmAll@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/NaviBar/icArrowLeft24.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/NaviBar/icArrowLeft24.imageset/icArrowLeft24.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/NaviBar/icArrowLeft24.imageset/icArrowLeft24@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/NaviBar/icArrowLeft24.imageset/icArrowLeft24@3x.png
Labels: 📱View, ✨ Feature, 💜 은주 💜, 🌏 Global

#11 ✨ [FEAT] 씀씀이 재사용 셀 구현
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Screen/Write/Cell/CVC/SpendCVC.swift
  POME-iOS/POME-iOS/Screen/Write/Cell/CVC/SpendCVC.xib
  POME-iOS/POME-iOS/Screen/Write/Cell/CVC/WriteCVC.swift
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/btnEmojiPlus38.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/btnEmojiPlus38.imageset/btnEmojiPlus38.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/btnEmojiPlus38.imageset/btnEmojiPlus38@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/btnEmojiPlus38.imageset/btnEmojiPlus38@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/btnEmojiQuestion38.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/btnEmojiQuestion38.imageset/btnEmojiQuestion38.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/btnEmojiQuestion38.imageset/btnEmojiQuestion38@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/btnEmojiQuestion38.imageset/btnEmojiQuestion38@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icEmojiBackground.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icEmojiBackground.imageset/icEmojiBackground.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icEmojiBackground.imageset/icEmojiBackground@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icEmojiBackground.imageset/icEmojiBackground@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icEmojiMint56.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icEmojiMint56.imageset/icEmojiMint56.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icEmojiMint56.imageset/icEmojiMint56@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icEmojiMint56.imageset/icEmojiMint56@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icMore2020.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icMore2020.imageset/icMore2020.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icMore2020.imageset/icMore2020@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icMore2020.imageset/icMore2020@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icQuestion24.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icQuestion24@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icQuestion24@3x.png
Labels: 📱View, ✨ Feature, ✏️ 기록탭, 💛 주현 💛

#12 ✨ [FEAT] 목표 재사용 셀 만들기
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Global/PublicData/AppModel/GoalStorageDataModel.swift
  POME-iOS/POME-iOS/Global/Struct/Identifiers.swift
  POME-iOS/POME-iOS/Screen/Mypage/Cell/TVC/GoalCardTVC.swift
  POME-iOS/POME-iOS/Support/Assets.xcassets/GoalStorage/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/GoalStorage/icLockAll.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/GoalStorage/icLockAll.imageset/icLockAll.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/GoalStorage/icLockAll.imageset/icLockAll@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/GoalStorage/icLockAll.imageset/icLockAll@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/GoalStorage/icMore24Grey4.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/GoalStorage/icMore24Grey4.imageset/icMore24Grey4.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/GoalStorage/icMore24Grey4.imageset/icMore24Grey4@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/GoalStorage/icMore24Grey4.imageset/icMore24Grey4@3x.png
Labels: ✨ Feature, 🙋🏻‍♀️ 마이페이지탭, 💙 유진 💙, 🌏 Global

#15 🔨 [FIX] CodebaseTVC CodebaseCVC - isFromNib false로 변경
  POME-iOS/POME-iOS/Global/Class/CodeBaseCVC.swift
  POME-iOS/POME-iOS/Global/Class/CodeBaseTVC.swift
Labels: ⛏ Fix, 💛 주현 💛, 🌏 Global

#16 ✨ [FEAT] 목표보관함 페이지 생성
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Screen/Mypage/Cell/TVC/GoalCardTVC.swift
  POME-iOS/POME-iOS/Screen/Mypage/VC/GoalStorageVC.swift
Labels: ✨ Feature, 🙋🏻‍♀️ 마이페이지탭, 💙 유진 💙

#17 ✨ [FEAT] 포미 Style UITextField Custom Class 생성
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Global/Extension/UITextField+.swift
  POME-iOS/POME-iOS/Global/UIComponent/Class/PomeTextField.swift
  POME-iOS/POME-iOS/Support/Assets.xcassets/icDelete20.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/icDelete20.imageset/icDelete20.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/icDelete20.imageset/icDelete20@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/icDelete20.imageset/icDelete20@3x.png
Labels: 📱View, ✨ Feature, 💜 은주 💜, 🌏 Global

#20 ✨ [FEAT] 이미지 마스크 Custom Class 생성
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Global/UIComponent/Class/PomeMaskedImageView.swift
  POME-iOS/POME-iOS/Support/Assets.xcassets/userProfileEmpty160.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/userProfileEmpty160.imageset/userProfileEmpty160.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/userProfileEmpty160.imageset/userProfileEmpty160@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/userProfileEmpty160.imageset/userProfileEmpty160@3x.png
Labels: 📱View, ✨ Feature, 💜 은주 💜, 🌏 Global

#22 ✨ [FEAT] 기록탭 메인뷰 UI 구성
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Global/Extension/UIColor+.swift
  POME-iOS/POME-iOS/Screen/Write/Cell/CVC/EmptyGoalCardCVC.swift
  POME-iOS/POME-iOS/Screen/Write/Cell/CVC/EmptyGoalCardCVC.xib
  POME-iOS/POME-iOS/Screen/Write/Cell/CVC/FeelingCardCVC.swift
  POME-iOS/POME-iOS/Screen/Write/Cell/CVC/FeelingCardCVC.xib
  POME-iOS/POME-iOS/Screen/Write/Cell/CVC/GoalCategoryCVC.swift
  POME-iOS/POME-iOS/Screen/Write/Cell/CVC/GoalCategoryCVC.xib
  POME-iOS/POME-iOS/Screen/Write/Cell/CVC/SpendCVC.xib
  POME-iOS/POME-iOS/Screen/Write/Cell/TVC/WriteTVC.swift
  POME-iOS/POME-iOS/Screen/Write/SB/WriteSB.storyboard
  POME-iOS/POME-iOS/Screen/Write/VC/WriteVC.swift
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/btnGoalCategory.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/btnGoalCategory.imageset/btnGoalCategory.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/btnGoalCategory.imageset/btnGoalCategory@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/btnGoalCategory.imageset/btnGoalCategory@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/btn_writing.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/btn_writing.imageset/btn_writing.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/btn_writing.imageset/btn_writing@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/btn_writing.imageset/btn_writing@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icFolder24.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icFolder24.imageset/icFolder24.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icFolder24.imageset/icFolder24@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icFolder24.imageset/icFolder24@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icGoalCardRightArrow20Mint.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icGoalCardRightArrow20Mint.imageset/icGoalCardRightArrow20Mint.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icGoalCardRightArrow20Mint.imageset/icGoalCardRightArrow20Mint@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icGoalCardRightArrow20Mint.imageset/icGoalCardRightArrow20Mint@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icLookBack44.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icLookBack44.imageset/icLookBack44.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icLookBack44.imageset/icLookBack44@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icLookBack44.imageset/icLookBack44@3x.png
  POME-iOS/POME-iOS/Support/Colorsets.xcassets/bright_mint.colorset/Contents.json
  POME-iOS/POME-iOS/Support/Colorsets.xcassets/light_mint.colorset/Contents.json
Labels: 📱View, ✨ Feature, ✏️ 기록탭, 💛 주현 💛

#26 ✨ [FEAT] 프로필 생성 뷰 UI 구현
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Global/Extension/UIViewController+.swift
  POME-iOS/POME-iOS/Global/PublicData/AppModel/model.swift
  POME-iOS/POME-iOS/Screen/Sign/SB/SignSB.storyboard
  POME-iOS/POME-iOS/Screen/Sign/VC/MakeProfileVC.swift
  POME-iOS/POME-iOS/Support/Assets.xcassets/icPlus24.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/icPlus24.imageset/icPlus24.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/icPlus24.imageset/icPlus24@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/icPlus24.imageset/icPlus24@3x.png
  POME-iOS/POME-iOS/Support/SceneDelegate.swift
Labels: 📱View, 💜 은주 💜, 🌏 Global

#30 🔨 [FIX] LookbackSB 기기 11 -> 13mini 변경
  POME-iOS/POME-iOS/Screen/Write/SB/LookbackSB.storyboard
Labels: ✏️ 기록탭, ⛏ Fix, 💛 주현 💛

#32 ✨ [FEAT] 프로필 이미지 선택 기능 구현
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Screen/Sign/VC/MakeProfileVC.swift
  POME-iOS/POME-iOS/Support/Info.plist
Labels: ✨ Feature, 💜 은주 💜, 🌏 Global

#35 ✨ [FEAT] 친구탭 메인 UI구현
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Global/Struct/Identifiers.swift
  POME-iOS/POME-iOS/Screen/Mate/Cell/CVC/MateHeaderCVC.swift
  POME-iOS/POME-iOS/Screen/Mate/Cell/TVC/HaveMateTVC.swift
  POME-iOS/POME-iOS/Screen/Mate/Cell/TVC/HaveNoMateTVC.swift
  POME-iOS/POME-iOS/Screen/Mate/VC/MateVC.swift
  POME-iOS/POME-iOS/Screen/Mate/Xib/HaveMateTVC.xib
  POME-iOS/POME-iOS/Screen/Mate/Xib/MateHeaderCVC.xib
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/btnAllViewProfileClicked.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/btnAllViewProfileClicked.imageset/btnAllViewProfileClicked.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/btnAllViewProfileClicked.imageset/btnAllViewProfileClicked@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/btnAllViewProfileClicked.imageset/btnAllViewProfileClicked@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/btnAllViewProfileNotClicked.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/btnAllViewProfileNotClicked.imageset/btnAllViewProfileNotClicked.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/btnAllViewProfileNotClicked.imageset/btnAllViewProfileNotClicked@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/btnAllViewProfileNotClicked.imageset/btnAllViewProfileNotClicked@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/btnEmojiNor28.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/btnEmojiNor28.imageset/btnEmojiNor28.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/btnEmojiNor28.imageset/btnEmojiNor28@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/btnEmojiNor28.imageset/btnEmojiNor28@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/emojiMint28.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/emojiMint28.imageset/emojiMint28.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/emojiMint28.imageset/emojiMint28@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/emojiMint28.imageset/emojiMint28@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/emojiMint34.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/emojiMint34.imageset/emojiMint34.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/emojiMint34.imageset/emojiMint34@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/emojiMint34.imageset/emojiMint34@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/emojiPink34.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/emojiPink34.imageset/emojiPink34.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/emojiPink34.imageset/emojiPink34@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/emojiPink34.imageset/emojiPink34@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/icFriendAdd24.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/icFriendAdd24.imageset/icFriendAdd24.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/icFriendAdd24.imageset/icFriendAdd24@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/icFriendAdd24.imageset/icFriendAdd24@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/icNoting24.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/icNoting24.imageset/icNoting24.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/icNoting24.imageset/icNoting24@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/icNoting24.imageset/icNoting24@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/userProfileEmpty52.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/userProfileEmpty52.imageset/userProfileEmpty52.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/userProfileEmpty52.imageset/userProfileEmpty52@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/userProfileEmpty52.imageset/userProfileEmpty52@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/userProfileFill32.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/userProfileFill32.imageset/userProfileFill32.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/userProfileFill32.imageset/userProfileFill32@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mate/userProfileFill32.imageset/userProfileFill32@3x.png
  POME-iOS/POME-iOS/Support/SceneDelegate.swift
Labels: ✨ Feature, 👩‍👧‍👦 친구탭, 💙 유진 💙

#40 ✨ [CHORE] 목표 재사용셀 TVC에서 CVC로 변경하기
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Global/Struct/Identifiers.swift
  POME-iOS/POME-iOS/Screen/Mypage/Cell/TVC/GoalCardCVC.swift
  POME-iOS/POME-iOS/Screen/Mypage/VC/GoalStorageVC.swift
Labels: ✅ Chore, ✏️ 기록탭, 🙋🏻‍♀️ 마이페이지탭, 💙 유진 💙

#41 ✨ [FEAT] 회원가입 완료 뷰 UI 구성
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Global/Struct/Identifiers.swift
  POME-iOS/POME-iOS/Screen/Sign/SB/SignSB.storyboard
  POME-iOS/POME-iOS/Screen/Sign/SB/SignUpSB.storyboard
  POME-iOS/POME-iOS/Screen/Sign/VC/CompleteSignUpVC.swift
  POME-iOS/POME-iOS/Screen/Sign/VC/MakeProfileVC.swift
  POME-iOS/POME-iOS/Screen/Sign/VC/SignUpNC.swift
  POME-iOS/POME-iOS/Support/SceneDelegate.swift
Labels: 📱View, ✨ Feature, 💜 은주 💜

#44 ✅ [CHORE] 탭 바 shadow 수정 및 알럿창 이미지 커스텀 가능하도록 수정
  POME-iOS/POME-iOS/Global/UIComponent/Class/PomeAlertVC.swift
  POME-iOS/POME-iOS/Global/UIComponent/Class/PomeMaskedImageView.swift
  POME-iOS/POME-iOS/Screen/TabBar/VC/PomeTBC.swift
Labels: 📱View, ✅ Chore, 💜 은주 💜

#45 ✨ [FEAT] 바텀시트 제작
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Global/UIComponent/Class/PomeHalfModalVC.swift
  POME-iOS/POME-iOS/Screen/Write/VC/LookbackVC.swift
  POME-iOS/POME-iOS/Screen/Write/VC/WriteVC.swift
Labels: 📱View, ✨ Feature, 💛 주현 💛, 🌏 Global

#50 ✨ [FEAT] 친구 추가 뷰 UI 구성
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Global/Protocol/ProfileCellDelegate.swift
  POME-iOS/POME-iOS/Global/PublicData/AppModel/FriendListDataModel.swift
  POME-iOS/POME-iOS/Global/Struct/Identifiers.swift
  POME-iOS/POME-iOS/Global/UIComponent/Class/PomeNaviBar.swift
  POME-iOS/POME-iOS/Global/UIComponent/Class/PomeTextField.swift
  POME-iOS/POME-iOS/Screen/Sign/AddFriendSB.storyboard
  POME-iOS/POME-iOS/Screen/Sign/Cell/TVC/FriendProfileTVC.swift
  POME-iOS/POME-iOS/Screen/Sign/SignUpSB.storyboard
  POME-iOS/POME-iOS/Screen/Sign/VC/AddFriendVC.swift
  POME-iOS/POME-iOS/Screen/Sign/VC/CompleteSignUpVC.swift
  POME-iOS/POME-iOS/Support/Assets.xcassets/Global/icPlus20.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Global/icPlus20.imageset/icPlus20.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Global/icPlus20.imageset/icPlus20@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Global/icPlus20.imageset/icPlus20@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Global/icSearch20.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Global/icSearch20.imageset/icSearch20.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Global/icSearch20.imageset/icSearch20@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Global/icSearch20.imageset/icSearch20@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Global/sampleProfile.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Global/sampleProfile.imageset/sampleProfile.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Global/sampleProfile.imageset/sampleProfile@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Global/sampleProfile.imageset/sampleProfile@3x.png
Labels: 📱View, ✨ Feature, 💜 은주 💜

#51 🔨 [FIX] 다른탭에서 기록탭으로 돌아올 때 goalCategory 포커스 오류 수정 및 기록탭 화면 연결
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Global/Extension/Adjusted+.swift
  POME-iOS/POME-iOS/Global/Extension/UIViewController+.swift
  POME-iOS/POME-iOS/Screen/Mypage/Cell/TVC/GoalCardCVC.swift
  POME-iOS/POME-iOS/Screen/Write/Cell/CVC/FeelingCardCVC.swift
  POME-iOS/POME-iOS/Screen/Write/Cell/CVC/FeelingCardCVC.xib
  POME-iOS/POME-iOS/Screen/Write/Cell/CVC/GoalCategoryCVC.xib
  POME-iOS/POME-iOS/Screen/Write/Cell/CVC/PlusCVC.swift
  POME-iOS/POME-iOS/Screen/Write/Cell/CVC/PlusCVC.xib
  POME-iOS/POME-iOS/Screen/Write/Cell/CVC/SpendCVC.swift
  POME-iOS/POME-iOS/Screen/Write/Cell/CVC/SpendCVC.xib
  POME-iOS/POME-iOS/Screen/Write/SB/LookbackCompleteSB.storyboard
  POME-iOS/POME-iOS/Screen/Write/SB/LookbackSB.storyboard
  POME-iOS/POME-iOS/Screen/Write/SB/LookbackSelectSB.storyboard
  POME-iOS/POME-iOS/Screen/Write/SB/WriteSB.storyboard
  POME-iOS/POME-iOS/Screen/Write/VC/LookbackCompleteVC.swift
  POME-iOS/POME-iOS/Screen/Write/VC/LookbackSelectVC.swift
  POME-iOS/POME-iOS/Screen/Write/VC/LookbackVC.swift
  POME-iOS/POME-iOS/Screen/Write/VC/WriteVC.swift
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/btn_plus.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/btn_plus.imageset/component2IcPlusStroke20.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/btn_plus.imageset/component2IcPlusStroke20@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/btn_plus.imageset/component2IcPlusStroke20@3x.png
Labels: 🐞 Bug, 📱View, ✨ Feature, ✏️ 기록탭, ⛏ Fix, 💛 주현 💛, 🌏 Global

#60 ✨ [FEAT] 마이페이지 홈화면 구성
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Global/PublicData/AppModel/GoalStorageDataModel.swift
  POME-iOS/POME-iOS/Global/PublicData/AppModel/MarshmellowDataModel.swift
  POME-iOS/POME-iOS/Global/PublicData/AppModel/MypageDataModel.swift
  POME-iOS/POME-iOS/Global/PublicData/AppModel/RemindGoalDataModel.swift
  POME-iOS/POME-iOS/Global/Struct/Identifiers.swift
  POME-iOS/POME-iOS/Screen/Mypage/Cell/CVC/MarshmellowCVC.swift
  POME-iOS/POME-iOS/Screen/Mypage/SB/MypageSB.storyboard
  POME-iOS/POME-iOS/Screen/Mypage/VC/MypageVC.swift
  POME-iOS/POME-iOS/Screen/Mypage/Xib/MarshmellowCVC.xib
  POME-iOS/POME-iOS/Screen/Remind/Cell/TVC/RemindGoalTVC.swift
  POME-iOS/POME-iOS/Screen/Remind/Xib/RemindGoalTVC.xib
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mypage/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mypage/icGoalKeep24.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mypage/icGoalKeep24.imageset/icGoalKeep24.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mypage/icGoalKeep24.imageset/icGoalKeep24@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mypage/icGoalKeep24.imageset/icGoalKeep24@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mypage/icGoalKeepRightArrow20.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mypage/icGoalKeepRightArrow20.imageset/icGoalKeepRightArrow20.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mypage/icGoalKeepRightArrow20.imageset/icGoalKeepRightArrow20@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mypage/icGoalKeepRightArrow20.imageset/icGoalKeepRightArrow20@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mypage/icSetting24Mono.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mypage/icSetting24Mono.imageset/icSetting24Mono.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mypage/icSetting24Mono.imageset/icSetting24Mono@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Mypage/icSetting24Mono.imageset/icSetting24Mono@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Remind/icArrowDown17.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Remind/icArrowDown17.imageset/icArrowDown17.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Remind/icArrowDown17.imageset/icArrowDown17@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Remind/icArrowDown17.imageset/icArrowDown17@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Remind/icArrowDown17Pink.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Remind/icArrowDown17Pink.imageset/icArrowDown17Pink.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Remind/icArrowDown17Pink.imageset/icArrowDown17Pink@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Remind/icArrowDown17Pink.imageset/icArrowDown17Pink@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Remind/iconRefreshMono.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Remind/iconRefreshMono.imageset/iconRefreshMono.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Remind/iconRefreshMono.imageset/iconRefreshMono@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Remind/iconRefreshMono.imageset/iconRefreshMono@3x.png
  POME-iOS/POME-iOS/Support/Colorsets.xcassets/light_pink.colorset/Contents.json
  POME-iOS/POME-iOS/Support/Colorsets.xcassets/middle_pink.colorset/Contents.json
Labels: 📱View, ✨ Feature, 🙋🏻‍♀️ 마이페이지탭, 💙 유진 💙

#61 ✨ [FEAT] 친구 메인뷰 감정 선택하기 UI 구성
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Screen/Mate/Cell/CVC/MateCVC.swift
  POME-iOS/POME-iOS/Screen/Mate/Cell/TVC/HaveMateTVC.swift
  POME-iOS/POME-iOS/Screen/Mate/Cell/TVC/MateTVC.swift
  POME-iOS/POME-iOS/Screen/Mate/VC/MateVC.swift
  POME-iOS/POME-iOS/Screen/Mate/Xib/HaveMateTVC.xib
  POME-iOS/POME-iOS/Screen/Mate/Xib/MateXib.swift
  POME-iOS/POME-iOS/Screen/Sign/VC/AddFriendVC.swift
  POME-iOS/POME-iOS/Support/Assets.xcassets/emojiMint3.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/emojiMint3.imageset/emojiMint3.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/emojiMint3.imageset/emojiMint3@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/emojiMint3.imageset/emojiMint3@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/emojiMint38.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/emojiMint38.imageset/emojiMint38.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/emojiMint38.imageset/emojiMint38@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/emojiMint38.imageset/emojiMint38@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/emojiMint4.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/emojiMint4.imageset/emojiMint4.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/emojiMint4.imageset/emojiMint4@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/emojiMint4.imageset/emojiMint4@3x.png
Labels: 📱View, ✨ Feature, 👩‍👧‍👦 친구탭, 💜 은주 💜

#69 ✨ [FEAT] 카카오 소셜 로그인 API 연결
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Global/Extension/Bundle+.swift
  POME-iOS/POME-iOS/Global/Extension/UIViewController+.swift
  POME-iOS/POME-iOS/Network/APIEssentials/APIConstants.swift
  POME-iOS/POME-iOS/Network/APIEssentials/GenericResponse.swift
  POME-iOS/POME-iOS/Network/APIEssentials/NetworkConstants.swift
  POME-iOS/POME-iOS/Network/APIManagers/BaseAPI.swift
  POME-iOS/POME-iOS/Network/APIManagers/SignAPI.swift
  POME-iOS/POME-iOS/Network/APIModels/SignInResModel.swift
  POME-iOS/POME-iOS/Network/APIModels/WriteResModel.swift
  POME-iOS/POME-iOS/Network/Bases/TargetType.swift
  POME-iOS/POME-iOS/Network/Services/SignService.swift
  POME-iOS/POME-iOS/Screen/Sign/VC/SignInVC.swift
  POME-iOS/POME-iOS/Support/AppDelegate.swift
  POME-iOS/POME-iOS/Support/Info.plist
  POME-iOS/POME-iOS/Support/SceneDelegate.swift
  POME-iOS/Podfile
  POME-iOS/Podfile.lock
  POME-iOS/PomeInfo.plist
Labels: 📡 Network, ✨ Feature, 💜 은주 💜

#73 🔨 [FIX] 화면 라벨 깨지는 것 해결
  POME-iOS/POME-iOS/Global/Class/BaseCVC.swift
  POME-iOS/POME-iOS/Global/Class/BaseTVC.swift
  POME-iOS/POME-iOS/Global/Class/CodeBaseCVC.swift
  POME-iOS/POME-iOS/Global/Class/CodeBaseTVC.swift
  POME-iOS/POME-iOS/Screen/Mate/Cell/TVC/HaveMateTVC.swift
  POME-iOS/POME-iOS/Screen/Mate/VC/MateEmojiBottomSheetVC.swift
  POME-iOS/POME-iOS/Screen/Mate/VC/MateVC.swift
  POME-iOS/POME-iOS/Screen/Mate/Xib/HaveMateTVC.xib
  POME-iOS/POME-iOS/Screen/Mypage/Cell/CVC/GoalStorageTitleCVC.swift
  POME-iOS/POME-iOS/Screen/Mypage/Cell/TVC/GoalCardCVC.swift
  POME-iOS/POME-iOS/Screen/Mypage/SB/MypageSB.storyboard
  POME-iOS/POME-iOS/Screen/Mypage/VC/GoalStorageVC.swift
  POME-iOS/POME-iOS/Screen/Mypage/VC/MypageVC.swift
  POME-iOS/POME-iOS/Screen/Remind/Cell/TVC/RemindGoalTVC.swift
  POME-iOS/POME-iOS/Screen/Remind/VC/RemindVC.swift
  POME-iOS/POME-iOS/Screen/Remind/Xib/RemindFilterTVC.xib
  POME-iOS/POME-iOS/Screen/Remind/Xib/RemindGoalTVC.xib
  POME-iOS/POME-iOS/Screen/Remind/Xib/RemindGoalTitleTVC.xib
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiFlexMint28Overlay.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiFlexMint28Overlay.imageset/property1EmojiFlexMint28Overlay.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiFlexMint28Overlay.imageset/property1EmojiFlexMint28Overlay@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiFlexMint28Overlay.imageset/property1EmojiFlexMint28Overlay@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiFunnyMint28Overlay.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiFunnyMint28Overlay.imageset/property1EmojiFunnyMint28Overlay.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiFunnyMint28Overlay.imageset/property1EmojiFunnyMint28Overlay@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiFunnyMint28Overlay.imageset/property1EmojiFunnyMint28Overlay@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiHappyMint28Overlay.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiHappyMint28Overlay.imageset/property1EmojiHappyMint28Overlay.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiHappyMint28Overlay.imageset/property1EmojiHappyMint28Overlay@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiHappyMint28Overlay.imageset/property1EmojiHappyMint28Overlay@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiSadMint28Overlay.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiSadMint28Overlay.imageset/property1EmojiSadMint28Overlay.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiSadMint28Overlay.imageset/property1EmojiSadMint28Overlay@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiSadMint28Overlay.imageset/property1EmojiSadMint28Overlay@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiSmileMint28Overlay.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiSmileMint28Overlay.imageset/property1EmojiSmileMint28Overlay.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiSmileMint28Overlay.imageset/property1EmojiSmileMint28Overlay@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiSmileMint28Overlay.imageset/property1EmojiSmileMint28Overlay@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiWhayMint28Overlay.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiWhayMint28Overlay.imageset/property1EmojiWhayMint28Overlay.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiWhayMint28Overlay.imageset/property1EmojiWhayMint28Overlay@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiWhayMint28Overlay.imageset/property1EmojiWhayMint28Overlay@3x.png
Labels: 📱View, ✅ Chore, 🤔 회고탭, 👩‍👧‍👦 친구탭, 🙋🏻‍♀️ 마이페이지탭, ⛏ Fix, 💙 유진 💙

#76 ✨ [FEAT] 기록탭 메인뷰 카테고리, 목표카드 상세 GET 서버 통신
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Network/APIEssentials/NetworkConstants.swift
  POME-iOS/POME-iOS/Network/APIManagers/WriteAPI.swift
  POME-iOS/POME-iOS/Network/APIModels/GetGoalDetailResModel.swift
  POME-iOS/POME-iOS/Network/APIModels/GetGoalsResModel.swift
  POME-iOS/POME-iOS/Network/Bases/TargetType.swift
  POME-iOS/POME-iOS/Network/Services/SignService.swift
  POME-iOS/POME-iOS/Network/Services/WriteService.swift
  POME-iOS/POME-iOS/Screen/Mypage/Cell/TVC/GoalCardCVC.swift
  POME-iOS/POME-iOS/Screen/Sign/VC/SignInVC.swift
  POME-iOS/POME-iOS/Screen/Write/Cell/CVC/EmptyGoalCardCVC.xib
  POME-iOS/POME-iOS/Screen/Write/Cell/CVC/FeelingCardCVC.xib
  POME-iOS/POME-iOS/Screen/Write/Cell/CVC/GoalCategoryCVC.xib
  POME-iOS/POME-iOS/Screen/Write/Cell/CVC/SpendCVC.swift
  POME-iOS/POME-iOS/Screen/Write/Cell/CVC/SpendCVC.xib
  POME-iOS/POME-iOS/Screen/Write/VC/AddCompleteVC.swift
  POME-iOS/POME-iOS/Screen/Write/VC/LookbackCompleteVC.swift
  POME-iOS/POME-iOS/Screen/Write/VC/WriteVC.swift
  POME-iOS/POME-iOS/Support/Assets.xcassets/emptyGoal3DComponent.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/emptyGoal3DComponent.imageset/emptyGoal3DComponent.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/emptyGoal3DComponent.imageset/emptyGoal3DComponent@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/emptyGoal3DComponent.imageset/emptyGoal3DComponent@3x.png
Labels: 📡 Network, ✨ Feature, ✏️ 기록탭, 💛 주현 💛

#78 ✨ [FEAT] 기록탭 메인 목표 삭제 API
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Network/APIManagers/WriteAPI.swift
  POME-iOS/POME-iOS/Network/APIModels/DeleteResModel.swift
  POME-iOS/POME-iOS/Network/Services/WriteService.swift
  POME-iOS/POME-iOS/Screen/Write/SB/WriteSB.storyboard
  POME-iOS/POME-iOS/Screen/Write/VC/WriteVC.swift
Labels: 📡 Network, 📱View, ✨ Feature, ✏️ 기록탭, 💛 주현 💛

#80 ✨ [FEAT] 목표 생성 API 연결
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Network/APIManagers/WriteAPI.swift
  POME-iOS/POME-iOS/Network/APIModels/Write/GetGoalDetailResModel.swift
  POME-iOS/POME-iOS/Network/APIModels/Write/GetGoalsResModel.swift
  POME-iOS/POME-iOS/Network/APIModels/Write/PostGoalResModel.swift
  POME-iOS/POME-iOS/Network/Services/WriteService.swift
  POME-iOS/POME-iOS/Screen/Write/VC/AddGoalContentVC.swift
Labels: 📡 Network, ✨ Feature, ✏️ 기록탭, 💛 주현 💛

#81 ✨ [FEAT] 회원가입 API 연결
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Global/Extension/UserDefaults+.swift
  POME-iOS/POME-iOS/Network/APIManagers/SignAPI.swift
  POME-iOS/POME-iOS/Network/APIManagers/SignUpAPI.swift
  POME-iOS/POME-iOS/Network/APIModels/Sign/SignInResModel.swift
  POME-iOS/POME-iOS/Network/APIModels/Sign/SignUpResModel.swift
  POME-iOS/POME-iOS/Network/Bases/TargetType.swift
  POME-iOS/POME-iOS/Network/Services/SignService.swift
  POME-iOS/POME-iOS/Screen/Sign/VC/MakeProfileVC.swift
  POME-iOS/POME-iOS/Screen/Sign/VC/SignInVC.swift
Labels: 📡 Network, ✨ Feature, 💜 은주 💜

#85 ✨ [FEAT] 회고 탭 서버통신
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Network/APIManagers/Remind/GetRemindAPI.swift
  POME-iOS/POME-iOS/Network/APIManagers/Remind/RemindAPI.swift
  POME-iOS/POME-iOS/Network/APIModels/Remind/GetRemindGoalListModel.swift
  POME-iOS/POME-iOS/Network/APIModels/Remind/GetRemindGoalModel.swift
  POME-iOS/POME-iOS/Network/APIModels/Remind/RemindGoalListModel.swift
  POME-iOS/POME-iOS/Network/APIModels/Remind/RemindGoalModel.swift
  POME-iOS/POME-iOS/Network/Services/Remind/RemindService.swift
  POME-iOS/POME-iOS/Screen/Remind/Cell/CVC/RemindCVC.swift
  POME-iOS/POME-iOS/Screen/Remind/Cell/TVC/RemindGoalTVC.swift
  POME-iOS/POME-iOS/Screen/Remind/Cell/TVC/RemindTVC.swift
  POME-iOS/POME-iOS/Screen/Remind/VC/RemindVC.swift
  POME-iOS/POME-iOS/Screen/Remind/Xib/RemindXib.swift
Labels: 📡 Network, ✨ Feature, 🤔 회고탭, 💙 유진 💙

#87 ✨ [FEAT] 친구 전체조회 API 연결
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Global/Extension/UIImageView+.swift
  POME-iOS/POME-iOS/Network/APIManagers/Mate/MateAPI.swift
  POME-iOS/POME-iOS/Network/APIModels/Mate/MateDetailModel.swift
  POME-iOS/POME-iOS/Network/APIModels/Mate/MateResModel.swift
  POME-iOS/POME-iOS/Network/Services/Mate/MateService.swift
  POME-iOS/POME-iOS/Screen/Mate/VC/MateVC.swift
  POME-iOS/POME-iOS/Screen/Mate/Xib/MateHeaderCVC.xib
  POME-iOS/POME-iOS/Screen/Remind/VC/RemindVC.swift
Labels: 📡 Network, ✨ Feature, 👩‍👧‍👦 친구탭, 💙 유진 💙

#88 ✨ [FEAT] 친구 검색 API 연결
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Global/Struct/Identifiers.swift
  POME-iOS/POME-iOS/Network/APIManagers/SignAPI.swift
  POME-iOS/POME-iOS/Network/APIModels/Public/DeleteResModel.swift
  POME-iOS/POME-iOS/Network/APIModels/Sign/MateSearchResModel.swift
  POME-iOS/POME-iOS/Network/Services/SignService.swift
  POME-iOS/POME-iOS/Screen/Mate/VC/MateVC.swift
  POME-iOS/POME-iOS/Screen/Sign/Cell/TVC/FriendProfileTVC.swift
  POME-iOS/POME-iOS/Screen/Sign/VC/AddFriendVC.swift
  POME-iOS/Podfile
  POME-iOS/Podfile.lock
Labels: 📡 Network, ✨ Feature, 💜 은주 💜

#91 ✨ [FEAT] 기록탭 메인 일주일 씀씀이 api 연결
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Global/Struct/EmojiList.swift
  POME-iOS/POME-iOS/Network/APIManagers/WriteAPI.swift
  POME-iOS/POME-iOS/Network/APIModels/Write/GetWeekSpendResModel.swift
  POME-iOS/POME-iOS/Network/Services/WriteService.swift
  POME-iOS/POME-iOS/Screen/Write/Cell/CVC/SpendCVC.swift
  POME-iOS/POME-iOS/Screen/Write/Cell/CVC/SpendCVC.xib
  POME-iOS/POME-iOS/Screen/Write/VC/WriteVC.swift
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/EmojiList/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/EmojiList/property1EmojiHappyPink.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/EmojiList/property1EmojiHappyPink.imageset/property1EmojiHappyPink38.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/EmojiList/property1EmojiHappyPink.imageset/property1EmojiHappyPink38@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/EmojiList/property1EmojiHappyPink.imageset/property1EmojiHappyPink38@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/EmojiList/property1EmojiSadPink.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/EmojiList/property1EmojiSadPink.imageset/property1EmojiSadPink38.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/EmojiList/property1EmojiSadPink.imageset/property1EmojiSadPink38@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/EmojiList/property1EmojiSadPink.imageset/property1EmojiSadPink38@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/EmojiList/property1EmojiWhatPink.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/EmojiList/property1EmojiWhatPink.imageset/property1EmojiWhatPink38.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/EmojiList/property1EmojiWhatPink.imageset/property1EmojiWhatPink38@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/EmojiList/property1EmojiWhatPink.imageset/property1EmojiWhatPink38@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/EmojiList/property1IcHeartMint.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/EmojiList/property1IcHeartMint.imageset/property1IcHeartMint.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/EmojiList/property1IcHeartMint.imageset/property1IcHeartMint@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/EmojiList/property1IcHeartMint.imageset/property1IcHeartMint@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/EmojiList/property1IcSadMint.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/EmojiList/property1IcSadMint.imageset/property1IcSadMint.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/EmojiList/property1IcSadMint.imageset/property1IcSadMint@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/EmojiList/property1IcSadMint.imageset/property1IcSadMint@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/EmojiList/property1IcWhatMint.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/EmojiList/property1IcWhatMint.imageset/property1IcWhatMint.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/EmojiList/property1IcWhatMint.imageset/property1IcWhatMint@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/EmojiList/property1IcWhatMint.imageset/property1IcWhatMint@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icEmojiMint56.imageset/icEmojiMint56.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icEmojiMint56.imageset/icEmojiMint56@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/Write/icEmojiMint56.imageset/icEmojiMint56@3x.png
Labels: 📡 Network, ✨ Feature, ✏️ 기록탭, 💛 주현 💛

#92 ✨ [FEAT] 친구 추가 API 연결
  POME-iOS/POME-iOS/Network/APIManagers/SignAPI.swift
  POME-iOS/POME-iOS/Network/Services/SignService.swift
  POME-iOS/POME-iOS/Screen/Mate/VC/MateVC.swift
  POME-iOS/POME-iOS/Screen/Sign/VC/AddFriendVC.swift
Labels: 📡 Network, ✨ Feature, 💜 은주 💜

#96 🔨 [FIX] 회고탭 목표 띄우기 API
  POME-iOS/POME-iOS/Network/APIModels/Remind/RemindGoalListModel.swift
  POME-iOS/POME-iOS/Network/APIModels/Remind/RemindGoalModel.swift
  POME-iOS/POME-iOS/Screen/Remind/Cell/TVC/RemindGoalTVC.swift
  POME-iOS/POME-iOS/Screen/Remind/VC/RemindVC.swift
Labels: 📡 Network, ✅ Chore, 🤔 회고탭, ⛏ Fix, 💙 유진 💙

#98 ✨ [FEAT] 기록 생성 api 연결
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Global/Protocol/SelectGoalDelegate.swift
  POME-iOS/POME-iOS/Network/APIManagers/Sign/SignAPI.swift
  POME-iOS/POME-iOS/Network/APIManagers/Sign/SignUpAPI.swift
  POME-iOS/POME-iOS/Network/APIManagers/Write/WriteAPI.swift
  POME-iOS/POME-iOS/Network/APIModels/Write/PostRecordResModel.swift
  POME-iOS/POME-iOS/Network/Services/Sign/SignService.swift
  POME-iOS/POME-iOS/Network/Services/Write/WriteService.swift
  POME-iOS/POME-iOS/Screen/Mypage/Cell/CVC/GoalCardCVC.swift
  POME-iOS/POME-iOS/Screen/Remind/VC/RemindVC.swift
  POME-iOS/POME-iOS/Screen/Write/VC/AddRecordVC.swift
  POME-iOS/POME-iOS/Screen/Write/VC/WriteSelectFeelingVC.swift
  POME-iOS/POME-iOS/Screen/Write/VC/WriteVC.swift
  POME-iOS/POME-iOS/Screen/Write/Xib/SelectGoalVC.swift
Labels: 📡 Network, ✨ Feature, ✏️ 기록탭, 💛 주현 💛

#99 ✨ [FEAT] 로딩 뷰 삽입 및 다크모드 대응
  POME-iOS/POME-iOS/Global/Class/BaseVC.swift
  POME-iOS/POME-iOS/Global/Extension/UIView+.swift
  POME-iOS/POME-iOS/Screen/Sign/VC/AddFriendVC.swift
  POME-iOS/POME-iOS/Screen/Sign/VC/SignInVC.swift
  POME-iOS/POME-iOS/Screen/TabBar/VC/PomeTBC.swift
  POME-iOS/POME-iOS/Screen/Write/VC/WriteVC.swift
  POME-iOS/POME-iOS/Support/SceneDelegate.swift
  POME-iOS/Podfile
  POME-iOS/Podfile.lock
Labels: 📱View, ✨ Feature, 💜 은주 💜, 🌏 Global

#102 ✨ [FEAT] 유저 정보 조회 API 서버통신
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Global/Extension/UIImageView+.swift
  POME-iOS/POME-iOS/Network/APIManagers/Mypage/MypageAPI.swift
  POME-iOS/POME-iOS/Network/APIModels/Mypage/UserResModel.swift
  POME-iOS/POME-iOS/Network/Services/Mypage/MypageService.swift
  POME-iOS/POME-iOS/Screen/Mate/Cell/TVC/HaveNoMateTVC.swift
  POME-iOS/POME-iOS/Screen/Mate/VC/MateVC.swift
  POME-iOS/POME-iOS/Screen/Mate/Xib/MateHeaderCVC.xib
  POME-iOS/POME-iOS/Screen/Mypage/Cell/CVC/MarshmellowCVC.swift
  POME-iOS/POME-iOS/Screen/Mypage/SB/MypageSB.storyboard
  POME-iOS/POME-iOS/Screen/Mypage/VC/GoalStorageVC.swift
  POME-iOS/POME-iOS/Screen/Mypage/VC/MypageVC.swift
  POME-iOS/POME-iOS/Screen/Remind/VC/RemindVC.swift
Labels: 📡 Network, ✨ Feature, 💙 유진 💙

#104 🔨 [FIX] 로그인 뷰 레이아웃이 깨지는 문제 해결
  POME-iOS/POME-iOS/Global/Class/BaseVC.swift
  POME-iOS/POME-iOS/Screen/Sign/VC/SignInVC.swift
Labels: 🐞 Bug, 📱View, ⛏ Fix, 💜 은주 💜

#106 ✨ [FEAT] 기록탭 디폴트 탭 지정
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Global/PublicData/Singleton/WriteInfo.swift
  POME-iOS/POME-iOS/Screen/Remind/VC/RemindVC.swift
  POME-iOS/POME-iOS/Screen/Write/Cell/CVC/SpendCVC.swift
  POME-iOS/POME-iOS/Screen/Write/VC/AddGoalContentVC.swift
  POME-iOS/POME-iOS/Screen/Write/VC/WriteVC.swift
Labels: 📱View, ✅ Chore, ✏️ 기록탭, 💛 주현 💛

#112 ✨ [FEAT] 기록탭 se 기기 대응
  POME-iOS/POME-iOS/Screen/Sign/VC/SignInVC.swift
  POME-iOS/POME-iOS/Screen/Write/SB/AddCompleteSB.storyboard
  POME-iOS/POME-iOS/Screen/Write/SB/AddGoalContentSB.storyboard
  POME-iOS/POME-iOS/Screen/Write/SB/AddGoalDateSB.storyboard
  POME-iOS/POME-iOS/Screen/Write/SB/AddRecordSB.storyboard
  POME-iOS/POME-iOS/Screen/Write/SB/LookbackCompleteSB.storyboard
  POME-iOS/POME-iOS/Screen/Write/SB/WriteSelectFeelingSB.storyboard
  POME-iOS/POME-iOS/Screen/Write/VC/AddCompleteVC.swift
  POME-iOS/POME-iOS/Screen/Write/VC/AddGoalContentVC.swift
  POME-iOS/POME-iOS/Screen/Write/VC/AddGoalDateVC.swift
  POME-iOS/POME-iOS/Screen/Write/VC/AddRecordVC.swift
  POME-iOS/POME-iOS/Screen/Write/VC/LookbackCompleteVC.swift
  POME-iOS/POME-iOS/Screen/Write/VC/WriteSelectFeelingVC.swift
  POME-iOS/POME-iOS/Screen/Write/VC/WriteVC.swift
  POME-iOS/POME-iOS/Screen/Write/Xib/CalendarVC.swift
  POME-iOS/POME-iOS/Screen/Write/Xib/CalendarVC.xib
  POME-iOS/POME-iOS/Screen/Write/Xib/WriteBottomAlertVC.swift
Labels: 📱View, ✏️ 기록탭, ⛏ Fix, 💛 주현 💛

#113 🔨 [FIX] 로그인, 회원가입 및 친구 추가 뷰 SE 기기대응
  POME-iOS/POME-iOS/Screen/Sign/VC/AddFriendVC.swift
  POME-iOS/POME-iOS/Screen/Sign/VC/CompleteSignUpVC.swift
  POME-iOS/POME-iOS/Screen/Sign/VC/MakeProfileVC.swift
  POME-iOS/POME-iOS/Support/Assets.xcassets/friend3DComponent.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/friend3DComponent.imageset/friend3DComponent.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/friend3DComponent.imageset/friend3DComponent@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/friend3DComponent.imageset/friend3DComponent@3x.png
Labels: 🐞 Bug, 📱View, ⛏ Fix, 💜 은주 💜

#114 🔨 [FIX] SE버전 마이페이지탭 , 버튼 화면 UI고치기
  POME-iOS/POME-iOS/Screen/Mate/Cell/CVC/MateHeaderCVC.xib
  POME-iOS/POME-iOS/Screen/Mate/Cell/TVC/HaveMateTVC.xib
  POME-iOS/POME-iOS/Screen/Mate/Cell/TVC/HaveNoMateTVC.swift
  POME-iOS/POME-iOS/Screen/Mate/VC/MateVC.swift
  POME-iOS/POME-iOS/Screen/Mypage/SB/MypageSB.storyboard
  POME-iOS/POME-iOS/Screen/Mypage/VC/MypageVC.swift
  POME-iOS/POME-iOS/Screen/Remind/Cell/TVC/RemindHaveNoGoalTVC.swift
  POME-iOS/POME-iOS/Screen/Remind/VC/RemindVC.swift
Labels: 📱View, 🤔 회고탭, 👩‍👧‍👦 친구탭, 🙋🏻‍♀️ 마이페이지탭, ⛏ Fix, 💙 유진 💙

#116 ✨ [FEAT] 되돌아보기 get 통신
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Network/APIManagers/Write/WriteAPI.swift
  POME-iOS/POME-iOS/Network/APIModels/Write/GetIncompleteRecordResModel.swift
  POME-iOS/POME-iOS/Network/APIModels/Write/GetWeekRecordResModel.swift
  POME-iOS/POME-iOS/Network/Services/Write/WriteService.swift
  POME-iOS/POME-iOS/Screen/Write/SB/LookbackSB.storyboard
  POME-iOS/POME-iOS/Screen/Write/VC/LookbackVC.swift
  POME-iOS/POME-iOS/Screen/Write/VC/WriteVC.swift
Labels: 📡 Network, ✨ Feature, ✏️ 기록탭, 💛 주현 💛

#118 ✨ [FEAT] 후순위 감정 남기기 API
  POME-iOS/POME-iOS/Network/APIManagers/Write/WriteAPI.swift
  POME-iOS/POME-iOS/Network/Services/Write/WriteService.swift
  POME-iOS/POME-iOS/Screen/Mate/VC/MateVC.swift
  POME-iOS/POME-iOS/Screen/Mypage/VC/GoalStorageVC.swift
  POME-iOS/POME-iOS/Screen/Mypage/VC/MypageVC.swift
  POME-iOS/POME-iOS/Screen/Remind/Cell/TVC/RemindHaveNoGoalTVC.swift
  POME-iOS/POME-iOS/Screen/Remind/VC/RemindVC.swift
  POME-iOS/POME-iOS/Screen/Write/VC/LookbackCompleteVC.swift
  POME-iOS/POME-iOS/Screen/Write/VC/LookbackVC.swift
  POME-iOS/POME-iOS/Screen/Write/VC/WriteSelectFeelingVC.swift
  POME-iOS/POME-iOS/Screen/Write/VC/WriteVC.swift
Labels: 📡 Network, 📱View, ✨ Feature, 🤔 회고탭, 💛 주현 💛, 💙 유진 💙

#120 ✨ [FEAT] 일주일 씀씀이 기록 삭제, 되돌아보기 기록 삭제 api 연결
  POME-iOS/POME-iOS/Network/APIManagers/Write/WriteAPI.swift
  POME-iOS/POME-iOS/Network/Services/Write/WriteService.swift
  POME-iOS/POME-iOS/Screen/Write/VC/LookbackVC.swift
  POME-iOS/POME-iOS/Screen/Write/VC/WriteVC.swift
Labels: 📡 Network, ✨ Feature, ✏️ 기록탭, 💛 주현 💛

#122 ✨ [FEAT] 감정 기록 필터링 기능 API
  POME-iOS/POME-iOS/Network/APIManagers/Remind/RemindAPI.swift
  POME-iOS/POME-iOS/Screen/Remind/VC/RemindVC.swift
Labels: 📡 Network, ✨ Feature, 🤔 회고탭, 💙 유진 💙

#124 🔨 [FIX] 소비 기록 생성 캘린더 날짜 범위 수정
  POME-iOS/POME-iOS/Screen/Write/VC/AddRecordVC.swift
  POME-iOS/POME-iOS/Screen/Write/Xib/CalendarVC.swift
Labels: 🐞 Bug, 📱View, ✏️ 기록탭, 💛 주현 💛

#123 ✨ [FEAT] 친구 기록 감정 남기기 API 연결
  POME-iOS/POME-iOS.xcodeproj/project.pbxproj
  POME-iOS/POME-iOS/Network/APIManagers/Mate/MateAPI.swift
  POME-iOS/POME-iOS/Network/APIModels/Mate/PostEmojiResModel.swift
  POME-iOS/POME-iOS/Network/Services/Mate/MateService.swift
  POME-iOS/POME-iOS/Screen/Mate/Cell/TVC/HaveMateTVC.swift
  POME-iOS/POME-iOS/Screen/Mate/VC/MateVC.swift
  POME-iOS/POME-iOS/Screen/Sign/Cell/TVC/FriendProfileTVC.swift
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiFlexMint28.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiFlexMint28.imageset/property1EmojiFlexMint28.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiFlexMint28.imageset/property1EmojiFlexMint28@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiFlexMint28.imageset/property1EmojiFlexMint28@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiFunnyMint28.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiFunnyMint28.imageset/property1EmojiFunnyMint28.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiFunnyMint28.imageset/property1EmojiFunnyMint28@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiFunnyMint28.imageset/property1EmojiFunnyMint28@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiHappyMint28.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiHappyMint28.imageset/property1EmojiHappyMint28.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiHappyMint28.imageset/property1EmojiHappyMint28@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiHappyMint28.imageset/property1EmojiHappyMint28@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiSadMint28.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiSadMint28.imageset/property1EmojiSadMint28.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiSadMint28.imageset/property1EmojiSadMint28@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiSadMint28.imageset/property1EmojiSadMint28@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiSmileMint28.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiSmileMint28.imageset/property1EmojiSmileMint28.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiSmileMint28.imageset/property1EmojiSmileMint28@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiSmileMint28.imageset/property1EmojiSmileMint28@3x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiWhayMint28.imageset/Contents.json
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiWhayMint28.imageset/property1EmojiWhayMint28.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiWhayMint28.imageset/property1EmojiWhayMint28@2x.png
  POME-iOS/POME-iOS/Support/Assets.xcassets/property1EmojiWhayMint28.imageset/property1EmojiWhayMint28@3x.png
Labels: 📡 Network, 📱View, ✨ Feature, 👩‍👧‍👦 친구탭, 💜 은주 💜
